name: publish-oci
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y flatpak flatpak-builder skopeo redis-server python3-pip libkrb5-dev
          flatpak remote-add --if-not-exists --user flathub https://dl.flathub.org/repo/flathub.flatpakrepo
          python3 -m pip install --upgrade pip
          python3 -m pip install git+https://github.com/owtaylor/flatpak-indexer.git
      - name: build flatpak repo
        run: |
          flatpak-builder --user --install-deps-from=flathub --force-clean --repo=repo build helloworld.yml
      - name: Build OCI layout
        run: |
          APP_ID=io.github.helloworld
          BRANCH=master
          flatpak build-bundle --oci repo oci-image $APP_ID $BRANCH
      - name: login to ghcr
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          skopeo login --authfile auth.json -u '${{ github.actor }}' -p '${{ secrets.GITHUB_TOKEN }}' ghcr.io
      - name: push oci image
        run: |
          IMAGE='ghcr.io/${{ github.repository_owner }}/helloworld:latest'
          skopeo copy --authfile auth.json oci:./oci-image docker://$IMAGE
      - name: build oci index for pages
        run: |
          mkdir -p pages/index
          touch pages/.nojekyll
          redis-server --daemonize yes
          export OUTPUT_DIR=pages
          export REGISTRY_AUTH_FILE=auth.json
          flatpak-indexer -c ci/flatpak-indexer.yaml index
      - uses: actions/upload-pages-artifact@v4
        with:
          path: pages
      - uses: actions/deploy-pages@v4
