on:
  workflow_call: {}
jobs:
  flatpak-repo-merge:
    runs-on: ubuntu-24.04
    env:
      APP_ID: io.github.helloworld
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: test
        run: tree artifacts
