on:
  workflow_call: {}
jobs:
  flatpak-repo-merge:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - run: |
          echo TODO: push all .flatpak bundles from artifacts/ dir to the registry, no separate tags
